# datasets
data/
CT_Datasets/

# models
*.pth
*.pt

# python cache
__pycache__/
*.pyc
*.pyo

# environments
.env
venv/
.venv/

# vscode
.vscode/

# jupyter
.ipynb_checkpoints/

# system files
.DS_Store
Thumbs.db

# logs
*.log

# temp files
*.tmp
*.temp

# large zip files
*.zip